---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/tailwind.css";
---

<BaseLayout title="Contact">
	<h1>Contact</h1>
  <p>Contact information will go here.</p>
</BaseLayout>
