---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
		<h1>David Lanier's Site</h1>
		<p>Hello! Glad you're here.</p>
		<p>I'll be using this space to share <a href="/thoughts">my thoughts</a> and experiments on a diverse range of topics.</p>
		<p>This is a very plain place right now, but I'll be adding to it over time.</p>
		<p>If you would like to be notified when I have more content or features added, please just send me an email: david at davidlanier dot com and say "Keep me updated, dude!".</p>
		<p>The main next features will about staying in touch better. I expect to include a contact form, an RSS feed, and a email list. Yeah, that's boring plumbing stuff, but I'm just getting this started.</p>
		<p>Some of the thoughts I'll share will be much shorter than what I've done with my past site.</p>
		<p>The "Thoughts" section (or "Thoughts and Musings" section) will be where it gets interesting here. Topics will include technology (web and other), music (creation and enjoyment), crafts (weaving, spinning yarn), tarot (and deep thoughts), and general life stuff (like family, home repair, pets, and nature photos).</p>
		<p>Thanks for visiting, and I'll see you soon!</p>
	</div>
</BaseLayout>
