---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
		<h1>David Lanier's web site</h1>
		<p>Intro text and bits of content will go here.</p>
	</div>
</BaseLayout>
