---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/tailwind.css";
---

<BaseLayout title="Home">
		<h1 class="test">David Lanier's web site</h1>
		<p>Intro text and bits of content will go here.</p>
	</div>
</BaseLayout>
