---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/tailwind.css";
---

<BaseLayout title="Copyright, License, and Privacy">
	<h1>Copyright, License, and Privacy</h1>
  <p>Information about copyright, license, and privacy will go here.</p>
</BaseLayout>
