---
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/tailwind.css";
---

<BaseLayout title="Thoughts">
	<h1>Thoughts</h1>
  <p>This is where I will share my thoughts on various topics.</p>
</BaseLayout>
